// ------------------------------
// edX Pattern Library: Components - Buttons

// About: Contains base styling for demonstration and utility for buttons.
// ----------------------------

// #SETTINGS
// #GLOBALS
// #SIZES
// #BASE
// #NEUTRAL
// #BRAND
// #LINK
// #ELEVATED
// #INVERSE
// #COMBO
// #APPLICATION
// ----------------------------


// ----------------------------
// #SETTINGS
// ----------------------------
$btn-border-style:                          solid !default;
$btn-border-size:                           1px !default;
$btn-shadow:                                3px !default;
$btn-font-weight:                           font-weight(semi-bold) !default;
$btn-border-radius:                         $component-border-radius !default;

// sizes
$btn-large-padding-vertical: spacing-vertical(small);
$btn-large-padding-horizontal: spacing-horizontal(mid-large);
$btn-large-font-size: font-size(large);

$btn-base-padding-vertical: spacing-vertical(x-small);
$btn-base-padding-horizontal: spacing-horizontal(base);
$btn-base-font-size: font-size(base);

$btn-small-padding-vertical: spacing-vertical(x-small);
$btn-small-padding-horizontal: spacing-horizontal(small);
$btn-small-font-size: font-size(small);

// disabled button
$btn-disabled-border-color:                 palette(grayscale, light) !default;
$btn-disabled-background:                   palette(grayscale, white) !default;
$btn-disabled-color:                        palette(grayscale, dark) !default;

// base button
$btn-default-border-color:                $transparent !default;
$btn-default-background:                  $transparent !default;
$btn-default-color:                       palette(primary, base) !default;
$btn-default-focus-border-color:          palette(primary, base) !default;
$btn-default-focus-color:                 palette(primary, base) !default;
$btn-default-active-border-color:         palette(primary, base) !default;
$btn-default-active-color:                palette(primary, base) !default;

// neutral button
$btn-neutral-border-color:                  palette(primary, base) !default;
$btn-neutral-background:                    palette(grayscale, white) !default;
$btn-neutral-color:                         palette(primary, base) !default;
$btn-neutral-focus-background:              palette(primary, base) !default;
$btn-neutral-focus-color:                   palette(grayscale, white) !default;
$btn-neutral-active-border-color:           palette(primary, dark) !default;
$btn-neutral-active-background:             palette(primary, dark) !default;

// brand button
$btn-brand-border-color:                  palette(primary, base) !default;
$btn-brand-background:                    palette(primary, base) !default;
$btn-brand-color:                         palette(grayscale, white) !default;
$btn-brand-focus-color:                   $btn-brand-color !default;
$btn-brand-focus-border-color:            palette(primary, accent) !default;
$btn-brand-focus-background:              palette(primary, accent) !default;
$btn-brand-active-border-color:           palette(primary, base) !default;
$btn-brand-active-background:             palette(primary, base) !default;
$btn-brand-disabled-background:           palette(grayscale, x-light) !default;
$btn-brand-disabled-color:                palette(grayscale, dark) !default;

// elevated
$btn-elevated-border-color:                 palette(primary, base) !default;
$btn-elevated-background:                   palette(primary, base) !default;
$btn-elevated-color:                        palette(grayscale, white) !default;
$btn-elevated-shadow:                       inset 0 0 -$btn-shadow 0 0 palette(primary, dark) !default;
$btn-elevated-focus-color:                  $btn-elevated-color !default;
$btn-elevated-focus-background:             palette(primary, accent) !default;
$btn-elevated-focus-shadow:                 inset 0 0 -$btn-shadow 0 0 palette(primary, dark) !default;
$btn-elevated-active-background:            palette(primary, dark) !default;
$btn-elevated-active-shadow:                inset 0 $btn-shadow 0 0 palette(primary, x-dark) !default;
$btn-elevated-disabled-border-color:        palette(grayscale, x-light) !default;
$btn-elevated-disabled-background:          palette(grayscale, x-light) !default;
$btn-elevated-disabled-shadow:              inset 0 -1px 0 palette(grayscale, light);

// inverse
$btn-inverse-border-color:                  palette(grayscale, white) !default;
$btn-inverse-background:                    $transparent !default;
$btn-inverse-color:                         palette(grayscale, white) !default;
$btn-inverse-focus-background:              palette(grayscale, white) !default;
$btn-inverse-focus-color:                   palette(primary, base) !default;
$btn-inverse-active-color:                  palette(primary, dark) !default;
$btn-inverse-disabled-border-color:         palette(grayscale, trans) !default;
$btn-inverse-disabled-color:                palette(grayscale, white) !default;
$btn-inverse-disabled-focus-color:          palette(grayscale, white) !default;
$btn-inverse-disabled-focus-border-color:   palette(grayscale, trans) !default;
$btn-inverse-disabled-focus-background:     $transparent !default;


// ----------------------------
// #GLOBALS
// ----------------------------
%btn {
    @include transition(
        color timing(xx-fast) ease-in-out 0s,
        border-color timing(xx-fast) ease-in-out 0s,
        background timing(xx-fast) ease-in-out 0s,
        box-shadow timing(xx-fast) ease-in-out 0s
    );
    @extend %btn-base;
    display: inline-block;
    border-style: $btn-border-style;
    border-radius: $btn-border-radius;
    border-width: $btn-border-size;
    padding: $btn-base-padding-vertical $btn-base-padding-horizontal;
    font-size: $btn-base-font-size;
    font-weight: $btn-font-weight;

    // Display: block, one button per line, full width
    &.block {
        display: block;
        width: 100%;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        @extend %state-disabled;
    }

    .icon {
        display: inline-block;
        vertical-align: baseline;
        @include margin-right(spacing-horizontal(x-small));

        &:only-child,
        .sr-only + & {
            margin-right: 0;
        }
    }
}


// ----------------------------
// #SIZES
// ----------------------------
// large
%btn-large {
    padding: $btn-large-padding-vertical $btn-large-padding-horizontal;
    font-size: $btn-large-font-size;
}

// small
%btn-small {
    padding: $btn-small-padding-vertical $btn-small-padding-horizontal;
    font-size: $btn-small-font-size;
}


// ----------------------------
// #DEFAULT
// ----------------------------
%btn-default {
    @extend %btn;
    @extend %btn-base;
    border-color: $btn-default-border-color;
    background: $btn-default-background;
    color: $btn-default-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $btn-default-focus-border-color;
        color: $btn-default-focus-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-default-active-border-color;
        color: $btn-default-active-color;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #NEUTRAL
// ----------------------------
%btn-neutral {
    @extend %btn;
    border-color: $btn-neutral-border-color;
    background: $btn-neutral-background;
    color: $btn-neutral-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        background: $btn-neutral-focus-background;
        color: $btn-neutral-focus-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-neutral-active-border-color;
        background: $btn-neutral-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        background: $btn-disabled-background;
        color: $btn-disabled-color;
    }
}



// ----------------------------
// #BRAND
// ----------------------------
%btn-brand {
    @extend %btn;
    border-color: $btn-brand-border-color;
    background: $btn-brand-background;
    color: $btn-brand-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $btn-brand-focus-border-color;
        background: $btn-brand-focus-background;
        color: $btn-brand-focus-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-brand-active-border-color;
        background: $btn-brand-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        background: $btn-brand-disabled-background;
        color: $btn-brand-disabled-color;
    }
}


// ----------------------------
// #LINK
// ----------------------------
%btn-link {
    @extend %btn;
    @extend %link;

    // reset of inherited buttons
    border-radius: 0;
    border-color: $transparent;
    padding: 1px;
    background: $transparent;

    &:disabled {
        // disabled links shouldn't be in the interface
        // plus, having them pass AA guidelines would make them no longer look disabled
        display: none;
    }
}


// ----------------------------
// #ELEVATED
// ----------------------------
%btn-elevated {
    @extend %btn;
    border-color: $btn-elevated-border-color;
    box-shadow: $btn-elevated-shadow;
    background: $btn-elevated-background;
    color: $btn-elevated-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        box-shadow: $btn-elevated-focus-shadow;
        background: $btn-elevated-focus-background;
        color: $btn-elevated-focus-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        box-shadow: $btn-elevated-active-shadow;
        background: $btn-elevated-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-elevated-disabled-border-color;
        box-shadow: $btn-elevated-disabled-shadow;
        background: $btn-elevated-disabled-background;
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #COMBO
// ----------------------------
%btn-group {
    display: flex;

    .btn {
        @extend .btn-neutral;
        @include margin-left(-($btn-border-size));
        border-radius: 0;

        &:first-child {
            @include border-top-left-radius($btn-border-radius);
            @include border-bottom-left-radius($btn-border-radius);
            @include margin-left(0);
        }

        // targets the last element in a parent container
        &:last-child {
            @include border-top-right-radius($btn-border-radius);
            @include border-bottom-right-radius($btn-border-radius);
        }

        &:only-child {
          @include margin-left(0);
          border-radius: $btn-border-radius;
        }
    }
}


// ----------------------------
// #INVERSE
// ----------------------------
%btn-inverse {
    @extend %btn;
    border-color: $btn-inverse-border-color;
    background: $btn-inverse-background;
    color: $btn-inverse-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        background: $btn-inverse-focus-background;
        color: $btn-inverse-focus-color;

    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        color: $btn-inverse-active-color;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-inverse-disabled-border-color;
        color: $btn-inverse-disabled-color;

        &:hover {
            border-color: $btn-inverse-disabled-focus-border-color;
            background: $btn-inverse-disabled-focus-background;
            color: $btn-inverse-disabled-focus-color;
        }
    }
}


// ----------------------------
// #APPLICATION
// ----------------------------
// default
.btn {
    @extend %btn-default;
}

// neutral
.btn-neutral {
    @extend %btn-neutral;
}

// labrandrge
.btn-brand {
    @extend %btn-brand;
}

// link
.btn-link {
    @extend %btn-link;
}

// elevated
.btn-elevated {
    @extend %btn-elevated;
}

// inverse
.btn-inverse {
    @extend %btn-inverse;
}

// group
.btn-group {
    @extend %btn-group;
}

// large
.btn-large {
    @extend %btn-large;
}

// small
.btn-small {
    @extend %btn-small;
}
